@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #21243D;
  line-height: 1;
  font-family: "Heebo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 53.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  color: #21243D;
  line-height: 1.3636363636;
}

.text {
  line-height: 1.5;
  font-weight: 400;
  color: #21243D;
}

.header {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  max-height: 5.125rem;
  height: 100%;
}

.header._header-scroll {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  position: fixed;
}

.header._header-scroll.header__menu {
  min-height: 3.125rem;
}

.header._header-show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__container_big {
  max-width: 64.5rem;
}

.header__logo {
  display: inline-block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  position: relative;
  z-index: 5;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.0625rem;
}

.menu__item {
  text-align: center;
}

.menu__link {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.45;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #FF6464;
}

.icon-menu {
  display: none;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.footer__copy {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
}

.social-footer__item {
  font-size: 1.875rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.social-footer__item._icon-twitter {
  font-size: 1.8125rem;
}

.page {
  padding-top: 5.125rem;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hello__avatar {
  opacity: 0;
  scale: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.1875rem;
          flex: 0 0 15.1875rem;
  max-width: 15.1875rem;
  max-height: 15.1875rem;
  position: relative;
}

._watcher-view .hello__avatar {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  scale: 1;
}

.hello__avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hello__avatar::before {
  content: "";
  position: absolute;
  top: 0.8125rem;
  right: 0.3125rem;
  width: 100%;
  height: 100%;
  background-color: #EDF7FA;
  border-radius: 50%;
  z-index: -1;
}

.content-hello__title {
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

._watcher-view .content-hello__title {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.content-hello__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content-hello__text {
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

._watcher-view .content-hello__text {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.content-hello__text:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.content-hello__button {
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.45;
  color: #fff;
  font-weight: 500;
  background-color: #FF6464;
  border-radius: 0.125rem;
  padding: 0.5625rem 1.3125rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

._watcher-view .content-hello__button {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0s 0.8s;
       -o-transition-delay: 0s 0.8s;
          transition-delay: 0s 0.8s;
}

.resent-posts {
  padding-top: 1.5625rem;
  padding-bottom: 2rem;
  background: #EDF7FA;
}

.resent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.resent-posts__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}

.resent-posts__view-all {
  line-height: 1.5;
  color: #00A8CC;
  font-weight: 400;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.resent-posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.item-resent-posts {
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}

.item-resent-posts__title {
  display: inline-block;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.4615384615;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-resent-posts__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-resent-posts__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-resent-posts__info {
  font-size: 1.125rem;
  line-height: 1.4444444444;
  font-weight: 400;
}

.item-resent-posts__info span {
  margin: 0 1.5625rem;
}

.item-resent-posts__info:not(:last-child) {
  margin-bottom: 0.625rem;
}

.works__title {
  padding-top: 0.9375rem;
  font-size: 1.375rem;
  line-height: 2.7272727273;
  font-weight: 400;
  padding-bottom: 1.375rem;
}

.works__item {
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #E0E0E0;
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.works__item._watcher-view {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.works__image-ibg {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.375rem;
          flex: 0 0 15.375rem;
  overflow: hidden;
  min-height: 11.25rem;
  border-radius: 0.375rem;
}

.works__image-ibg img {
  scale: 1;
  -webkit-transition: scale 0.3s ease 0s;
  -o-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.body-works__title {
  display: inline-block;
  font-weight: 700;
  line-height: 1.4666666667;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.body-works__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.body-works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-works__info:not(:last-child) {
  margin-bottom: 1.25rem;
}

.body-works__year {
  text-align: center;
  font-weight: 900;
  font-size: 1.125rem;
  color: #fff;
  background-color: #142850;
  border-radius: 16px;
  padding: 0.25rem 0.625rem;
}

.body-works__category {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.45;
  color: #8695A4;
}

.blog__separetor {
  padding: 0 1.25rem;
}

.blog__category {
  color: #8695A4;
}

.item-blog {
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #E0E0E0;
}

.item-blog__title {
  display: inline-block;
  font-weight: 500;
  line-height: 1.4666666667;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-blog__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-blog__info:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-blog__text {
  line-height: 1.5;
}

.works__column_main {
  display: block;
}

.works__column_main .works__item {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.875rem;
}

.article__container {
  max-width: 42.5625rem;
}

.article__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.article__title_2 {
  font-weight: 500;
  line-height: 2;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.article__info:not(:last-child) {
  margin-bottom: 1.25rem;
}

.article__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5625rem;
  padding: 0 0.625rem;
  color: #fff;
  font-weight: 900;
  font-size: 1.125rem;
  background: #FF7C7C;
  border-radius: 16px;
}

.article__category {
  line-height: 1.45;
}

.article__image {
  max-width: 42.5625rem;
}

.article__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__image_2:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.article__sub-title {
  line-height: 2.5;
  font-weight: 500;
}

*::-moz-selection {
  background-color: #FF6464;
  color: #fff;
}

*::selection {
  background-color: #FF6464;
  color: #fff;
}

@media (min-width: 47.99875em) and (min-width: 55.375em) {
  .hello__content {
    padding-right: 6.875rem;
  }
}

@media (min-width: 47.99875em) {
  .resent-posts__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.125rem;
  }

  .works__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 55.375em) {
  .title {
    font-size: 2.75rem;
  }

  .footer {
    padding-bottom: 3.375rem;
  }

  .hello {
    padding-top: 7.6875rem;
  }

  .hello {
    padding-bottom: 4.4375rem;
  }

  .item-resent-posts {
    padding: 1.4375rem;
  }

  .works {
    padding-bottom: 5.1875rem;
  }

  .body-works__title {
    font-size: 1.875rem;
  }

  .blog {
    padding-top: 4.875rem;
  }

  .blog__title {
    margin-bottom: 3.125rem;
  }

  .item-blog__title {
    font-size: 1.875rem;
  }

  .item-blog__info {
    font-size: 1.25rem;
  }

  .works {
    padding-top: 4.875rem;
  }

  .works__main-title {
    margin-bottom: 3.125rem;
  }

  .article {
    padding-top: 4.875rem;
  }

  .article__title_2 {
    font-size: 1.875rem;
  }

  .article__category {
    font-size: 1.25rem;
  }

  .article__text {
    padding-bottom: 2.875rem;
  }

  .article__image_1:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .article__image_3 {
    padding-bottom: 4.875rem;
  }

  .article__sub-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .hello {
    padding-top: 2.0625rem;
  }

  .hello {
    padding-bottom: 3.75rem;
  }

  .item-resent-posts {
    padding: 0.9375rem;
  }

  .works {
    padding-bottom: 1.875rem;
  }

  .body-works__title {
    font-size: 1.5rem;
  }

  .blog {
    padding-top: 1.875rem;
  }

  .blog__title {
    margin-bottom: 1.875rem;
  }

  .item-blog__title {
    font-size: 1.625rem;
  }

  .item-blog__info {
    font-size: 1rem;
  }

  .works {
    padding-top: 3.125rem;
  }

  .works__main-title {
    margin-bottom: 1.875rem;
  }

  .article {
    padding-top: 1.875rem;
  }

  .article__title_2 {
    font-size: 1.625rem;
  }

  .article__category {
    font-size: 1.125rem;
  }

  .article__text {
    padding-bottom: 1.4375rem;
  }

  .article__image_1:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .article__image_3 {
    padding-bottom: 3.125rem;
  }

  .article__sub-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    min-height: 3.125rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -1000%;
    left: 0;
    overflow: auto;
    background-color: #fff;
    padding: 5.125rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.125rem;
    left: 0;
    top: -1000%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu-open .menu__body {
    top: 0;
    left: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }

  .menu__link {
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page {
    padding-top: 3.125rem;
  }

  .hello__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2.6875rem;
  }

  .hello__avatar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .resent-posts__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .works__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }

  .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 0 0.9375rem 0 0;
  }

  .works__image-ibg {
    padding-bottom: 60%;
    margin-bottom: 1.125rem;
  }
}

@media (min-width: 20em) and (max-width: 55.375em) {
  .title {
    font-size: clamp( 1.5rem , 0.7932862191rem  +  3.5335689046vw , 2.75rem );
  }

  .footer {
    padding-bottom: clamp( 1.875rem , 1.0269434629rem  +  4.2402826855vw , 3.375rem );
  }

  .hello {
    padding-top: clamp( 2.0625rem , -1.1177120141rem  +  15.9010600707vw , 7.6875rem );
  }

  .hello {
    padding-bottom: clamp( 3.75rem , 3.3613074205rem  +  1.9434628975vw , 4.4375rem );
  }

  .item-resent-posts {
    padding: clamp( 0.9375rem , 0.6548144876rem  +  1.4134275618vw , 1.4375rem );
  }

  .works {
    padding-bottom: clamp( 1.875rem , 0.0022084806rem  +  9.3639575972vw , 5.1875rem );
  }

  .body-works__title {
    font-size: clamp( 1.5rem , 1.2879858657rem  +  1.0600706714vw , 1.875rem );
  }

  .blog {
    padding-top: clamp( 1.875rem , 0.1788869258rem  +  8.480565371vw , 4.875rem );
  }

  .blog__title {
    margin-bottom: clamp( 1.875rem , 1.1682862191rem  +  3.5335689046vw , 3.125rem );
  }

  .item-blog__title {
    font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem );
  }

  .item-blog__info {
    font-size: clamp( 1rem , 0.8586572438rem  +  0.7067137809vw , 1.25rem );
  }

  .works {
    padding-top: clamp( 3.125rem , 2.1356007067rem  +  4.9469964664vw , 4.875rem );
  }

  .works__main-title {
    margin-bottom: clamp( 1.875rem , 1.1682862191rem  +  3.5335689046vw , 3.125rem );
  }

  .article {
    padding-top: clamp( 1.875rem , 0.1788869258rem  +  8.480565371vw , 4.875rem );
  }

  .article__title_2 {
    font-size: clamp( 1.625rem , 1.4836572438rem  +  0.7067137809vw , 1.875rem );
  }

  .article__category {
    font-size: clamp( 1.125rem , 1.0543286219rem  +  0.3533568905vw , 1.25rem );
  }

  .article__text {
    padding-bottom: clamp( 1.4375rem , 0.6247791519rem  +  4.0636042403vw , 2.875rem );
  }

  .article__image_1:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.1899293286rem  +  5.3003533569vw , 3.125rem );
  }

  .article__image_3 {
    padding-bottom: clamp( 3.125rem , 2.1356007067rem  +  4.9469964664vw , 4.875rem );
  }

  .article__sub-title {
    font-size: clamp( 1.25rem , 1.1086572438rem  +  0.7067137809vw , 1.5rem );
  }
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 55.375em) {
  .hello__content {
    padding-right: clamp( 0.00000625rem , -3.8869160115rem  +  19.4346113074vw , 6.875rem );
  }
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .hello__content {
    padding-right: 0.00000625rem;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF6464;
  }

  .social-footer__item:hover {
    color: #FF6464;
  }

  .content-hello__button:hover {
    background-color: #d45353;
  }

  .resent-posts__view-all:hover {
    color: #096f86;
  }

  .item-resent-posts__title:hover {
    color: #FF6464;
  }

  .works__image-ibg img:hover {
    scale: 1.1;
  }

  .body-works__title:hover {
    color: #FF6464;
  }

  .item-blog__title:hover {
    color: #FF6464;
  }
}